$font-stack:    Roboto, sans-serif;
$primary-color: rgba(8, 111, 115, 1);

body{
    font-family: $font-stack;
    width: 80%;
    margin: auto;

    //Header
    #Header {
		width: 100%;
        height: 70px;
		left: 0px;
        // top: 0px;
        //Menu
        #MainMenu {
            width: 100%;
            margin: auto;
            top: 0;
            padding-top: 10px;
            float: left;
            display: flex;
            #leftMenu{
                margin-top: auto;
                margin-bottom: auto;
                a:first-child {
                    margin-right: 20px;
                }
            }
            #Center{
                margin: auto;
                width: 50%;
                text-align: center;
                //Logo
                    #Logo_fd {
                        position: relative;
                        width: 49px;
                        height: 54px;
                        // left: 736px;
                        margin: auto;
                        top: 0px;
                        overflow: visible;
                        
                        #M_fe {
                            left: 0px;
                            top: 0px;
                            position: absolute;
                            overflow: visible;
                            width: 36px;
                            white-space: nowrap;
                            text-align: left;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: lighter;
                            font-size: 41px;
                            color: rgba(8, 111, 115, 1);
                        }
                        #Rectangle_1_ff {
                            fill: rgba(255, 255, 255, 1);
                        }
                        .Rectangle_1_ff {
                            position: absolute;
                            overflow: visible;
                            width: 22px;
                            height: 31px;
                            left: 27px;
                            top: 13px;
                        }
                        #S_fg {
                            left: 25px;
                            top: 0px;
                            position: absolute;
                            overflow: visible;
                            width: 25px;
                            white-space: nowrap;
                            text-align: left;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: lighter;
                            font-size: 41px;
                            color: rgba(8, 111, 115, 1);
                        }
                    }
                    
                
               
            }
            #RightMenu{
                float: right;   
                #Line_4 {
                    stroke: rgb(192, 192, 192);
                } 
                .Line_4 {
                    overflow: visible;
                    // position: absolute;
                    width: 1px;
                    height: 30px;
                    position: relative;
                    left: 25px;
                    top: 10px;
                    margin-top: auto;
                   
                }
                // Button
                #Signup-Button {
                    width: 113px;
                    height: 40px;
                    background-color: $primary-color;
                    border: none;
                    border-radius: 6px;
                    color: white;
                    font-weight: Medium;
                    font-size: 16px;
                    font-family: $font-stack;
                    font-weight: 420;
                    margin-left: 30px;
                }     
                .nav-links-m{
                    display: none;
                }    
            }
            a{
                font-family: $font-stack;
                font-weight: 400;
                font-size: 16px;
                color: black;
                text-decoration: none;
            }
		}
        
    }

    //Hero
    #Hero {
        position: relative;
        width: 100%;
        height: 749px;
        z-index: 1;
        #hero-left {
			position: absolute;
			width: 646px;
			height: 639px;
			left: 0px;
			top: 110px;
            overflow: visible;
            #hero-title {
                position: absolute;
                width: 551px;
                height: 329px;
                left: 0px;
                top: 0px;

                h2{
                    font-weight: normal;
                    font-size: 25px;
                    span{
                        color: rgba(8, 111, 115, 1);
                    }
                    
                }
                h1{
                    font-style: normal;
                    font-weight: black;
                    font-size: 50px;
                    left: 0px;
                    position: absolute;
                    top: 35px;
                    span{
                        color: $primary-color;
                    }
                }
                p{
                    font-size: 25px;
                    top: 263px;
                    position: absolute;
                    width: 552px;
                    height: 66px;
                }
            }
            h2{
                font-weight: normal;
                font-size: 25px;
            }
            #Families {
                position: relative;
                width: 646px;
                height: 201px;
                top: 438px;
                
                #FamilyContainer{
                display: flex;
                width: 750px;
            
                #Family {
                    width: 100%;
                    height: 148px;
                    margin-right: 35px;
                    text-align: center;
                    font-size: 25px;
                    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.161);
                    border-radius: 10px;
                    .FamilyName, .PicturePlant{
                        position: relative;
                        top: 17px;
                        cursor: pointer;   
                        text-decoration: none;   
                        color: black; 
                    }
                  
                   
                }
                }
                
            }

            
        }
        #Hero-image {
			position: absolute;
			width: 709px;
			// height: 749px;
			right: 0;
		}

    }   

    //Empty Erea
    ._blank{
        position: relative;
        width: 100%;
        height: 80px;
        background-color: white;
    }

    //sections
    //Recommendation
    #Recommended-Products {
        position: relative;
        // text-align: center;
        h1{
            margin: auto;
            text-align: center;
			font-weight: normal;
			font-size: 50px;
        }
        .Products {
            display: flex;
            position: relative;
            width: 100%;
            text-align: center;
            justify-content: space-between;
            margin-bottom: 5px;
    			.Product{
                width: 423px;
                height: 501px;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.161);
                border-radius: 10px;
                margin-top: 50px;
                img{
                    margin-top: 25px;
                    width: 90%;
                    border-radius: 8px;
                    
                }
                .ProductInfo{
                    width: 85%;
                    margin: auto;
                    position: relative;
                    top: 15px;
                    .Left{
                        float: left;
                        .ProductName{
                            font-weight: bold;
                            font-size: 25px;
                            text-decoration: none;
                            color: black;
                        }
                        .Product-Family-Name{
                            float: left;
                            position: relative;
                            top: 5px;
                            font-weight: normal;
                            font-size: 25px;
                            color: $primary-color;
                        }
                    }
                    .Price{
                        position: relative;
                        float: right;
                        right: 0;
                        font-size: 25px;
                        color: rgba(20, 18, 24, 1);
                    }        
                }
               
            }

		}
    }

    //Gallery
    #Gallery{
			position: relative;
			width: 100%;
            left: 0px;
            top: -30px;
            h1{
                margin: auto;
                text-align: center;
                font-weight: normal;
                font-size: 50px;
            }
            #GalleryPhotos{
                position: relative;
                top: 45px;
                width: 100%;
                display: grid;    
                grid-template-columns: auto auto auto;
                justify-content: space-between;
                line-height: 1000px;
                grid-row-gap: 45px;
            }
    }


    //Footer
    footer {
        position: absolute;
        width: 100%;
        height: 200px;
        left: 0px;
        background-color: rgba(248, 248, 249, 1);
        
        #FooterContent {
            position: relative;
            top:25%;
            width: 80%;
            // height: 100%;
            margin: auto;
            
            line-height: 45px;
            #Logo {
                position: absolute;
                width: 73px;
                height: 79px;
                left: 0px;
                top: 0px;
                overflow: visible;

                #M {
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    overflow: visible;
                    width: 53px;
                    white-space: nowrap;
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: lighter;
                    font-size: 60px;
                    color: rgba(8, 111, 115, 1);
                }
                #Rectangle_1 {
                    fill: rgba(248, 248, 249, 1);
                }
        
                .Rectangle_1 {
                    position: absolute;
                    overflow: visible;
                    width: 33px;
                    height: 46px;
                    left: 40px;
                    top: 19px;
                }
        
                #S {
                    left: 37px;
                    top: 0px;
                    position: absolute;
                    overflow: visible;
                    width: 37px;
                    white-space: nowrap;
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: lighter;
                    font-size: 60px;
                    color: rgba(8, 111, 115, 1);
                }
        
            }
             #Credits {
            position: relative;
            top: 75px;
            font-size: 20px;
            font-weight: normal;
            #SocialMedia {
                position: absolute;
                // height: 42px;
                right: 0;
                top: 0;
            }
           #Thankyou{
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
            }
		    }
            
        }
        
        // opacity: 0.02;
       
       
       
    }
    
}


//
@media only screen and (max-width: 600px) {
    body {
            width: 90%;
            // width: 520px;
            
            margin: auto;
            top: 0;
            //Header
            #Header {
                width: 100%;
                height: 60px;
                //Menu
                #MainMenu{
                    position: relative;
			        height: 46px;
		        	left: 0;
                    width: 100%;
                    padding-top: 8px;
                    float: left;
                    #leftMenu{
                        display: none;
                    }
                    #Center{
                        text-align: left;
                        float: left;
                        //Logo
                            #Logo_fd {
                            position: absolute;
			                width: 43px;
			                height: 46px;
			                left: 0px;
			                top: 0px;
                                #M_fe {
                                    left: 0px;
                                    top: 0px;
                                    position: absolute;
                                    overflow: visible;
                                    width: 36px;
                                    white-space: nowrap;
                                    text-align: left;
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: lighter;
                                    font-size: 41px;
                                    color: rgba(8, 111, 115, 1);
                                }
                                #Rectangle_1_ff {
                                    fill: rgba(255, 255, 255, 1);
                                }
                                .Rectangle_1_ff {
                                    position: absolute;
                                    overflow: visible;
                                    width: 22px;
                                    height: 31px;
                                    left: 27px;
                                    top: 13px;
                                }
                                #S_fg {
                                    left: 25px;
                                    top: 0px;
                                    position: absolute;
                                    overflow: visible;
                                    width: 25px;
                                    white-space: nowrap;
                                    text-align: left;
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: lighter;
                                    font-size: 41px;
                                    color: rgba(8, 111, 115, 1);
                                }
                            }
                            
                        
                       
                    }
                    #RightMenu{
                        //Hide SignUp Buttons 
                        .Line_4, #Signup-Button, a  {
                           display: none;
                        }
                        #nav-links-m {
                            fill: rgba(88, 88, 99, 1);
                        }
                        .nav-links-m {
                            display: block;
                            position: relative;
                            width: 18px;
                            height: 16px;
                            top: 15px;
                        }
                    }
                }
                
            }
            
            //hero
              #Hero {
                position: relative;
                width: 100%;
                #Hero-image {
                    display: none;
                  }
                  #hero-left {
                    position: absolute;
                    width: 100%;
                    #hero-title{
                        width: 100%;
                        height: 400px;
                        overflow: hidden;  
                        p{
                           font-size: 20px;
                           width: 90%;
                               
                        }
                      }
                      #Families {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        top: 438px;
                        overflow: hidden;
                        #FamilyContainer{

                        display: flex;
                        width: 100%;
                        overflow-y: hidden;
                        overflow-x: auto;
                        z-index: 20;
                        #Family {
                            width: 100px;
                            height: 100px;
                            margin: auto;
                            border-radius: 50%;
                            .PicturePlant{
                                padding-left: 10px;
                                margin-top: -5px;

                                width: 80px;
                            }
                            .FamilyName{
                                display: none;
                            }
                          
                           
                        }
                        }
                        
                    }
                    #Families{
                        #Family-Selector {
                            fill: rgba(255, 255, 255, 1);
                        }
                
                        .Family-Selector {
                            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.09));
                            position: absolute;
                            overflow: visible;
                            width: 136px;
                            height: 136px;
                            left: 0px;
                            top: 0px;
                        }
                    }
                   
                  }

                
              }
            
            //Blank
            ._blank{
                height: 60px;
            }
           

            //Sections
            #Recommended-Products{
                position: relative;
                width: 100%;
                z-index: 2;
                // margin-left: -100px;
                // margin-right: -100px;     
                    // overflow-y: scroll;
                    // overflow-x: scroll;

                h1{
                    font-size: 35px;
                }
                .Products::-webkit-scrollbar {
                    display: none;
                  }
                .Products {
                //     margin-left: -100px;
                // margin-right: -100px;  
                    position: relative;
                    // left: 10px;
                    overflow-x: scroll;
                //    background-color: gold;
                    // position: relative;
                    width: 105%;
                    // margin-left: 0;
                    // height: 559.5px;
                    z-index: 3;
                    white-space: nowrap;
                    height: auto;



                    //width: 672px;
                    height: 374px;
                    column-gap: 20px; 
                    
                    .Product {
                        position: relative;
                        left: 10px; 
                        border-radius: 5px;
			// overflow: visible;
                        
                        width: 209px;
                        height: auto;
                        // margin-right: 25px;
                        // width: 190% !important;

                        img{
                            width: 90%;
                            // height: 180px;
                            position: relative;
                            top: -12px;
                        }
                        .ProductInfo{
                            // width: 85%;
                            // height: 274px;
                                width: 90%;
                                // top: 0px;
                                    word-break:break-all;
                                    position: relative;
                            top: 0px;
                            overflow: visible;

                            .Left{
                                width: 100%;
                                // background-color: red;
                                    word-break:break-all;
                                    position: relative;
                                // left: -5px;
                                
                                // overflow: hidden;  
                                .ProductName{
                                    // display: none;
                                    font-size: 22px;
                                    // width:400px;
                                    text-decoration: none;
                                    color: black;
                                }
                                a{
                                    
                                }

                          

                                .Product-Family-Name{
                                    float: right;
                                    position: relative;
                                    top: -5px;
                                    position: relative;
                                   
                                    font-size: 20px;


			// width: 58px;
			// white-space: nowrap;
			// text-align: left;
			// font-family: Roboto;
			// font-style: normal;
			// font-weight: normal;
			// color: rgba(8, 111, 115, 1);
                                }
                            }
                            .Price{
                                position: relative;
                                float: left;
                                top: -30px;
                                font-size: 20px;
                            }        
                        }
                      

                    }
                }
        


                

               
                #Gallery{
                    // height: 559.5px;
                position: relative;
                top: 0px;
                // margin-left: -100px;
                // margin-right: -100px; 
                // background-color: red;
                #GalleryPhotos::-webkit-scrollbar {
                    display: none;
                  }
                    #GalleryPhotos{
                        position: relative;
                        width: 100%;
                        height: 559.5px;
                        overflow-y: hidden;
                        overflow-x: scroll;
                        white-space: nowrap;

                        display: flex;
  
                     


                        img{
                            display: inline-block;
                            margin-right: 35px;

                            font-family: Arial;
                            position: relative;
                            margin-left: 3%;
                            
                            background: white;
                        }
                    }
                }
            }

              //Footer
    footer {
               height: 220px;
               font-weight: lighter;
        #FooterContent {
            text-align: center;
            top:25%;
            width: 80%;
            margin: auto;
            
            line-height: 15px;
            #Logo {
                margin-left: 40%;
                top: -25px;        
            }
             #Credits {
            position: relative;
            top: 45px;
            font-size: 20px;
            font-weight: normal;
            #SocialMedia {
                position: absolute;
                right: 42%;
                top: 55px;
            }
           #Thankyou{
                position: absolute;
                width: 100%;
                transform: translateX(-50%);
                left: 50%;
                top: 25px;
            }
		    }
            
        }
        
        // opacity: 0.02;
       
       
       
    }

            
              
            

			
    }

    
  }